.details a:visited,
a:hover,
a:active {
    color: black;
    background-color: transparent;
}

.details hr.solid {
    border-top: 3px solid rgb(162, 198, 231);
    border-radius: 3px;
}

.details hr.rounded {
    border-radius: 5px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(71, 71, 71);
    text-align: center;
    font-style: italic;
    font-size: 1em;
}

.carousel {
    height: 1080px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: black;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: black;
}

img {
    height: 1080px;
    object-fit: contain;
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

@media screen and (max-width: 1080px) {
    div.corousel-inner.my-inner {
        border-top: 10px;
        border-left: 10px;
        border-right: 10px;
        border-bottom: 00px;
        border-color: #fff;
        border-style: solid;
    }
}

@media screen and (max-width: 1080px) {
    div.corousel-inner {
        border: 0;
    }
}